<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>JpT</title>
    <link href="../css/sb-admin-2.css" rel="stylesheet">
    <link href="../css/custom.css" rel="stylesheet">
    <link rel="icon" href="../img/icon.ico">
</head>

<body class="bg-gradient-dark">
    <div class="container">
        <div class="col-lg-12">
            <div class="text-center mt-3" id="ontop">
                <h1 class="h4 text-white mb-3" style="font-size: 32px">JpT Home</h1>
            </div>
        </div>

        <div class="row justify-content-md-center" id="content">
        </div>

        <div class="row justify-content-md-center">
            <div class="col col-lg-4 m-4">
                <a class="btn btn-block text-white btn_bg_blue" href="../index.html">Start Page</a>
            </div>
			<div class="col col-lg-4 m-4">
                <a class="btn btn-block text-white btn_bg_blue" onclick="randomCard()">Sắp xếp lại</a>
            </div>
        </div>
    </div>
    <script src="../vendor/jquery/jquery.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="../vendor/jquery-easing/jquery.easing.js"></script>
    <script src="../js/sb-admin-2.js"></script>
    <script type="text/javascript">
        var indexArr = [];

        function randomArr(arr) {
            var copyArr = arr.slice();
            var result = [];
            var i = 0;
            while (copyArr.length > 0) {
                var index = Math.floor(Math.random() * copyArr.length);
                result[i] = copyArr[index];
                copyArr.splice(index, 1);
                i++;
            }
            return result;
        }

        function convertHtml(arr) {
            var html = "";
            for (i = 0; i < arr.length; i++) {
                html = html + "<div class=\"col-lg-5 m-3 bg-white corner_radius\"><div class=\"d-flex align-items-center justify-content-center board\" onclick=\"clickBtn(" + i + ")\"><div class=\"card\" id=\"card_" + i + "\"><div class=\"front\"><div class=\"p-2 bd-highlight\"><h1 class=\"fs_kanji\">" + kanjiArr[arr[i]] + "</h1></div></div><div class=\"back\"><div class=\"p-2 bd-highlight\"><span class=\"bs_hanviet\">" + hanvietArr[i] + "</span><span class=\"bs_kanji\">" + kanjiArr[arr[i]] + "</span><span class=\"bs_hira\">" + hiraArr[arr[i]] + "</span><span class=\"bs_mean\">" + meanArr[arr[i]] + "</span></div></div></div></div></div>";
            }
            return html;
        }

        function clickBtn(id) {
            $('#card_' + id).toggleClass('flipped');
        }



        function randomCard() {
            var arr = randomArr(indexArr);
            var html = convertHtml(arr);
            $("#content").empty();
            $("#content").html(html);

            $('html, body').stop().animate({
                scrollTop: ($("#ontop").offset().top)
            }, 800, 'easeInOutExpo');
        }

        $(document).ready(function() {
            for (i = 0; i < kanjiArr.length; i++) {
                indexArr[i] = i;
            }
            var html = convertHtml(indexArr);
            $("#content").empty();
            $("#content").html(html);
        });
        //Data
        var kanjiArr = ["費用","消費者","旅費","会費","期間","定期券","長期","短期","期限","限度","限る","限定","～製","製品","製造","造る","賞","賞金","賞味期限","賞品","方法","文法","温度","温かい","気温","常温"];
var hiraArr = ["ひよう","しょうひしゃ","りょひ","かいひ","きかん","ていきけん","ちょうき","たんき","きげん","げんど","かぎる","げんてい","～せい","せいひん","せいぞう","つくる","しょう","しょうきん","しょうみきげん","しょうひん","ほうほう","ぶんぽう","おんど","あたたかい","きおん","じょうおん"];
var hanvietArr = ["PHÍ DỤNG","TIÊU PHÍ GIẢ","LỮ PHÍ","HỘI PHÍ","KÌ GIAN","ĐỊNH KÌ KHOÁN","TRƯỜNG KÌ","ĐOẢN KÌ","KÌ HẠN","HẠN ĐỘ","HẠN","HẠN ĐỊNH","CHẾ","CHẾ PHẨM","CHẾ TẠO","TẠO","THƯỞNG","THƯỞNG KIM","THƯỞNG VỊ KỲ HẠN","THƯỞNG PHẨM","PHƯƠNG PHÁP","VĂN PHÁP","ÔN ĐỘ","ÔN","KHÍ ÔN","THƯỜNG ÔN"];
var meanArr = ["lệ phí","người tiêu dùng","lộ phí","hội phí","thời kì","vé thường kỳ; vé tháng","dài hạn","ngắn hạn","kì hạn, thời hạn","giới hạn","giới hạn; hạn chế","sự hạn chế","làm tại, ở","sản phẩm","chế tạo, làm ra","chế tạo, làm ra","giải thưởng, phần thưởng","tiền thưởng","kỳ hạn sử dụng tốt nhất","sản phẩm thưởng. giải thưởng","phương pháp","văn phạm","nhiệt độ","ấm áp","nhiệt độ không khí","nhiệt độ thông thường"];
    </script>
</body>

</html>

