<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>JpT</title>
    <link href="../css/sb-admin-2.css" rel="stylesheet">
    <link href="../css/customKotoba.css" rel="stylesheet">
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="../img/icon.ico">
</head>

<body class="bg-gradient-dark" onscroll="scroll()">
    <div class="container">
        <div class="col-lg-12">
            <div class="text-center mt-3" id="ontop">
                <h1 class="h4 text-white mb-3" style="font-size: 32px">JpT Home</h1>
            </div>
        </div>

        <div class="row justify-content-md-center" id="content">
        </div>

        <div class="row justify-content-md-center">
            <div class="col col-lg-4 m-4">
                <a class="btn btn-block text-white btn_bg_blue" onclick="randomCard()"><i class="fas fa-sync"></i> Sắp xếp lại</a>
            </div>
        </div>
        
        <a class="button_menu rounded" href="../../index.html">
            <i class="fas fa-home"></i>
        </a>
        <a class="button_random rounded" onclick="randomCard()">
            <i class="fas fa-sync"></i>
        </a>
        <a class="button_ontop rounded" onclick="ontop()">
            <i class="fas fa-chevron-up"></i>
        </a>
    </div>
    <script src="../vendor/jquery/jquery.js"></script>
    <script src="../vendor/jquery-easing/jquery.easing.js"></script>
    <script src="../js/sb-admin-2.js"></script>
    <script type="text/javascript">
        var indexArr = [];

        function randomArr(arr) {
            var copyArr = arr.slice();
            var result = [];
            var i = 0;
            while (copyArr.length > 0) {
                var index = Math.floor(Math.random() * copyArr.length);
                result[i] = copyArr[index];
                copyArr.splice(index, 1);
                i++;
            }
            return result;
        }

        function convertHtml(arr) {
            var html = "";
            for (i = 0; i < arr.length; i++) {
                html = html + "<div class=\"col-lg-5 m-3 bg-white corner_radius\"><div class=\"d-flex align-items-center justify-content-center board\" onclick=\"clickBtn(" + arr[i] + ")\"><div class=\"card\" id=\"card_" + arr[i] + "\"><div class=\"front\"><div class=\"p-2 bd-highlight\"><span class=\"fs_kanji\">" + kanjiArr[arr[i]] + "</span><span class=\"fs_hira\">" + hiraArr[arr[i]] + "</span></div></div><div class=\"back\"><div class=\"p-2 bd-highlight\"><span class=\"bs_kanji\">" + kanjiArr[arr[i]] + "</span><span class=\"bs_hira\">" + hiraArr[arr[i]] + "</span><span class=\"bs_mean\">" + meanArr[arr[i]] + "</span></div></div></div></div></div>";
            }
            return html;
        }

        function clickBtn(id) {
            $('#card_' + id).toggleClass('flipped');
        }



        function randomCard() {
            var arr = randomArr(indexArr);
            var html = convertHtml(arr);
            $("#content").empty();
            $("#content").html(html);

            ontop();
        }

        function ontop() {
            $('html, body').stop().animate({
                scrollTop: ($("#ontop").offset().top)
            }, 800, 'easeInOutExpo');
        }

        function scroll(){
            var scrollDistance = $(this).scrollTop();
            if (scrollDistance > 100) {
                $('.button_menu').fadeIn();
                $('.button_random').fadeIn();
                $('.button_ontop').fadeIn();
            } else {
                $('.button_menu').fadeOut();
                $('.button_random').fadeOut();
                $('.button_ontop').fadeOut();
            }
        }

        $(document).ready(function() {
            for (i = 0; i < kanjiArr.length; i++) {
                indexArr[i] = i;
            }
            var html = convertHtml(indexArr);
            $("#content").empty();
            $("#content").html(html);
        });
        //Data 
        var kanjiArr = ["簡単「な」","近い","遠い","速い、早い","遅い","多い [人が～]","少ない [人が～]","温かい、暖かい","涼しい","甘い","辛い","重い","軽い","いい [コーヒーが～]","季節","春","夏","秋","冬","天気","雤","雪","曇り","ホテル","空港","海","政界","パーティー","(お) 祭り","試験","き焼き","刺身","「お」すし","てんぷら","生け花","紅葉","どちら","初めて","どちらも","ずっと","ただいま。","お帰かえりなさい。","すごいですね。","でも","つか疲れました。","ホンコン","シンガポール"];
var hiraArr = ["かんたん「な」","ちかい","とおい","はやい","おそい","おおい [ひとが～]","すくない [ひとが～]","あたたかい","すずしい","あまい","からい","おもい","かるい","","きせつ","はる","なつ","あき","ふゆ","てんき","あめ","ゆき","くもり","","くうこう","うみ","せかい","","(お) まつり","しけん","すきやき","さしみ","","","いけばな","もみじ","","はじめて","","","","","","","つかれました","",""];
var meanArr = ["đơn giản, dễ","gần","xa","nhanh, sớm","chậm, muộn","nhiều [người]","ít [người]","ấm","mát","ngọt","cay","nặng","nhẹ","thích, chọn, dùng [cafe]","mùa","mùa xuân","mùa hè","mùa thu","mùa đông","thời tiết","mưa","tuyết","có mây","khách sạn","sân bay","biển, đại dương","thế giới","tiệc (~をします：tổ chức tiệc)","lễ hội","kỳ thi, bài thi","sukiyaki (món thịt bò nấu rau)","sashimi (món gỏi cá sống)","sushi","tempura (món hải sản và rau chiên tẩm bột","nghệ thuật cắm hoa (～をします：cắm hoa)","lá đỏ","cái nào","lần đầu tiên","cả hai","(hơn) hẳn (dùng để nhấn mạnh sự khác biệt giữa hai đối tượng)","tôi đã về đây. (dùng nói khi về đến nhà)","anh/chị đã về đấy à. (dùng để nói với ai đó mới về đến nhà)","ghê quá nhỉ./ hay quá nhỉ.","nhưng","tôi mệt rồi","hồng kông","singapore"];
    </script>
</body>

</html>
<!-- 
<div class="col-lg-5 m-3 bg-white corner_radius">
    <div class="d-flex align-items-center justify-content-center board" onclick="clickBtn(0)">
        <div class="card" id="card_0">
            <div class="front">
                <div class="p-2 bd-highlight">
                    <span class="fs_kanji">抱く</span>
                    <span class="fs_hira">だく</span>
                </div>
            </div>
            <div class="back">
                <div class="p-2 bd-highlight">
                    <span class="bs_kanji">抱く</span>
                    <span class="bs_hira">だく</span>
                    <span class="bs_mean">ôm ấp, bế</span>
                </div>
            </div>
        </div>
    </div>
</div>
-->

