<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>JpT</title>
    <link href="../css/sb-admin-2.css" rel="stylesheet">
    <link href="../css/customKotoba.css" rel="stylesheet">
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="../img/icon.ico">
</head>

<body class="bg-gradient-dark" onscroll="scroll()">
    <div class="container">
        <div class="col-lg-12">
            <div class="text-center mt-3" id="ontop">
                <h1 class="h4 text-white mb-3" style="font-size: 32px">JpT Home</h1>
            </div>
        </div>

        <div class="row justify-content-md-center" id="content">
        </div>

        <div class="row justify-content-md-center">
            <div class="col col-lg-4 m-4">
                <a class="btn btn-block text-white btn_bg_blue" onclick="randomCard()"><i class="fas fa-sync"></i> Sắp xếp lại</a>
            </div>
        </div>
        
        <a class="button_menu rounded" href="../../index.html">
            <i class="fas fa-home"></i>
        </a>
        <a class="button_random rounded" onclick="randomCard()">
            <i class="fas fa-sync"></i>
        </a>
        <a class="button_ontop rounded" onclick="ontop()">
            <i class="fas fa-chevron-up"></i>
        </a>
    </div>
    <script src="../vendor/jquery/jquery.js"></script>
    <script src="../vendor/jquery-easing/jquery.easing.js"></script>
    <script src="../js/sb-admin-2.js"></script>
    <script type="text/javascript">
        var indexArr = [];

        function randomArr(arr) {
            var copyArr = arr.slice();
            var result = [];
            var i = 0;
            while (copyArr.length > 0) {
                var index = Math.floor(Math.random() * copyArr.length);
                result[i] = copyArr[index];
                copyArr.splice(index, 1);
                i++;
            }
            return result;
        }

        function convertHtml(arr) {
            var html = "";
            for (i = 0; i < arr.length; i++) {
                html = html + "<div class=\"col-lg-5 m-3 bg-white corner_radius\"><div class=\"d-flex align-items-center justify-content-center board\" onclick=\"clickBtn(" + arr[i] + ")\"><div class=\"card\" id=\"card_" + arr[i] + "\"><div class=\"front\"><div class=\"p-2 bd-highlight\"><span class=\"fs_kanji\">" + kanjiArr[arr[i]] + "</span><span class=\"fs_hira\">" + hiraArr[arr[i]] + "</span></div></div><div class=\"back\"><div class=\"p-2 bd-highlight\"><span class=\"bs_kanji\">" + kanjiArr[arr[i]] + "</span><span class=\"bs_hira\">" + hiraArr[arr[i]] + "</span><span class=\"bs_mean\">" + meanArr[arr[i]] + "</span></div></div></div></div></div>";
            }
            return html;
        }

        function clickBtn(id) {
            $('#card_' + id).toggleClass('flipped');
        }



        function randomCard() {
            var arr = randomArr(indexArr);
            var html = convertHtml(arr);
            $("#content").empty();
            $("#content").html(html);

            ontop();
        }

        function ontop() {
            $('html, body').stop().animate({
                scrollTop: ($("#ontop").offset().top)
            }, 800, 'easeInOutExpo');
        }

        function scroll(){
            var scrollDistance = $(this).scrollTop();
            if (scrollDistance > 100) {
                $('.button_menu').fadeIn();
                $('.button_random').fadeIn();
                $('.button_ontop').fadeIn();
            } else {
                $('.button_menu').fadeOut();
                $('.button_random').fadeOut();
                $('.button_ontop').fadeOut();
            }
        }

        $(document).ready(function() {
            for (i = 0; i < kanjiArr.length; i++) {
                indexArr[i] = i;
            }
            var html = convertHtml(indexArr);
            $("#content").empty();
            $("#content").html(html);
        });
        //Data 
        var kanjiArr = ["遊びます","泳ぎます","迎えます","疲れます","出します [手紙を～]","入ります [喫茶店に～]","出ます [喫茶店を～]","結婚します","買い物します","食事します","散歩します [公園を～]","大変「な」","欲しい","寂しい","広い","狭い","市役所","プール","川","経済","美術","釣り","スキー","会議","登録","週末","～ごろ","何か","どこか","おなかが すきました。","おなかが いっぱいです。","のどが かわきました。","そうですね。","ロシア","そうしましょう。","ていしょく","ご注文は","牛どん","少々お待ちください。","別々に"];
var hiraArr = ["あそびます","およぎます","むかえます","つかれます","だします [てがみを～]","はいります [きっさてんに～]","でます [きっさてんを～]","けっこんします","かいものします","しょくじします","さんぽします [こうえんを～]","たいへん「な」","ほしい","さびしい","ひろい","せまい","しやくしょ","","かわ","けいざい","びじゅつ","つり","","かいぎ","とうろく","しゅうまつ","","なにか","","","","","","","","","ごちゅうもんは","ぎゅうどん","しょうしょう　おまちください","べつべつに"];
var meanArr = ["chơi","bơi","đón","mệt","gửi[thư]","vào [quán giải khát]","ra, ra khỏi [quán giải khát]","kết hôn, lập gia đình, cưới","mua hàng","ăn cơm","đi dạo [ở công viên]","vất vả, khó khăn, khổ","muốn có","buồn, cô đơn","rộng","chật, hẹp","văn phòng hành chính quận, thành phố","bể bơi","sông","kinh tế","mỹ thuật","việc câu cá (~をします：câu cá)","việc trượt tuyết (~をします： trượt tuyết)","họp, cuộc họp (~をします: họp, tổ chức cuộc họp)","việc đăng ký (~をします：đăng ký)","cuối tuần","khoảng ~ (dùng cho thời gian)","cái gì đó","đâu đó, chỗ nào đó","(tôi) đói rồi.","(tôi) no rồi.","(tôi) khát.","đúng thế. (câu nói khi muốn tỏ thái độ tán thành với người cùng nói chuyện)","nga","nhất trí./ chúng ta thống nhất như thế.","cơm suất, cơm phần","mời anh/chị gọi món","món cơm thịt bò","xin vui lòng đợi một chút","để riêng ra"];
    </script>
</body>

</html>
<!-- 
<div class="col-lg-5 m-3 bg-white corner_radius">
    <div class="d-flex align-items-center justify-content-center board" onclick="clickBtn(0)">
        <div class="card" id="card_0">
            <div class="front">
                <div class="p-2 bd-highlight">
                    <span class="fs_kanji">抱く</span>
                    <span class="fs_hira">だく</span>
                </div>
            </div>
            <div class="back">
                <div class="p-2 bd-highlight">
                    <span class="bs_kanji">抱く</span>
                    <span class="bs_hira">だく</span>
                    <span class="bs_mean">ôm ấp, bế</span>
                </div>
            </div>
        </div>
    </div>
</div>
-->

