<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>JpT</title>
    <link href="../css/sb-admin-2.css" rel="stylesheet">
    <link href="../css/customKotoba.css" rel="stylesheet">
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="../img/icon.ico">
</head>

<body class="bg-gradient-dark" onscroll="scroll()">
    <div class="container">
        <div class="col-lg-12">
            <div class="text-center mt-3" id="ontop">
                <h1 class="h4 text-white mb-3" style="font-size: 32px">JpT Home</h1>
            </div>
        </div>

        <div class="row justify-content-md-center" id="content">
        </div>

        <div class="row justify-content-md-center">
            <div class="col col-lg-4 m-4">
                <a class="btn btn-block text-white btn_bg_blue" onclick="randomCard()"><i class="fas fa-sync"></i> Sắp xếp lại</a>
            </div>
        </div>
        
        <a class="button_menu rounded" href="../../index.html">
            <i class="fas fa-home"></i>
        </a>
        <a class="button_random rounded" onclick="randomCard()">
            <i class="fas fa-sync"></i>
        </a>
        <a class="button_ontop rounded" onclick="ontop()">
            <i class="fas fa-chevron-up"></i>
        </a>
    </div>
    <script src="../vendor/jquery/jquery.js"></script>
    <script src="../vendor/jquery-easing/jquery.easing.js"></script>
    <script src="../js/sb-admin-2.js"></script>
    <script type="text/javascript">
        var indexArr = [];

        function randomArr(arr) {
            var copyArr = arr.slice();
            var result = [];
            var i = 0;
            while (copyArr.length > 0) {
                var index = Math.floor(Math.random() * copyArr.length);
                result[i] = copyArr[index];
                copyArr.splice(index, 1);
                i++;
            }
            return result;
        }

        function convertHtml(arr) {
            var html = "";
            for (i = 0; i < arr.length; i++) {
                html = html + "<div class=\"col-lg-5 m-3 bg-white corner_radius\"><div class=\"d-flex align-items-center justify-content-center board\" onclick=\"clickBtn(" + arr[i] + ")\"><div class=\"card\" id=\"card_" + arr[i] + "\"><div class=\"front\"><div class=\"p-2 bd-highlight\"><span class=\"fs_kanji\">" + kanjiArr[arr[i]] + "</span><span class=\"fs_hira\">" + hiraArr[arr[i]] + "</span></div></div><div class=\"back\"><div class=\"p-2 bd-highlight\"><span class=\"bs_kanji\">" + kanjiArr[arr[i]] + "</span><span class=\"bs_hira\">" + hiraArr[arr[i]] + "</span><span class=\"bs_mean\">" + meanArr[arr[i]] + "</span></div></div></div></div></div>";
            }
            return html;
        }

        function clickBtn(id) {
            $('#card_' + id).toggleClass('flipped');
        }



        function randomCard() {
            var arr = randomArr(indexArr);
            var html = convertHtml(arr);
            $("#content").empty();
            $("#content").html(html);

            ontop();
        }

        function ontop() {
            $('html, body').stop().animate({
                scrollTop: ($("#ontop").offset().top)
            }, 800, 'easeInOutExpo');
        }

        function scroll(){
            var scrollDistance = $(this).scrollTop();
            if (scrollDistance > 100) {
                $('.button_menu').fadeIn();
                $('.button_random').fadeIn();
                $('.button_ontop').fadeIn();
            } else {
                $('.button_menu').fadeOut();
                $('.button_random').fadeOut();
                $('.button_ontop').fadeOut();
            }
        }

        $(document).ready(function() {
            for (i = 0; i < kanjiArr.length; i++) {
                indexArr[i] = i;
            }
            var html = convertHtml(indexArr);
            $("#content").empty();
            $("#content").html(html);
        });
        //Data 
        var kanjiArr = ["勤め増す「会社に～」","休みます","掛けます","過ごします","寄ります「銀行に～」","いらっしゃいます","召し上がります","おっしゃいます","なさいます","ご覧になります","あいさつ","灰皿","旅館","会場","バスてい","貿易","～様","帰りに","たまに","ちっとも","遠慮なく","～年～（1年3組）","では","出します（熱を～）","よろしくお伝えください","失礼いたします","講師","多くの～","作品","受賞します","世界的に","作家","~でございます。","長男","障害","お持ちです","作曲","活動","それでは","東京大学","ノーベル文学賞"];
var hiraArr = ["つとめます [かいしゃに~]","やすみます","かけます","すごします","よります [ぎんこうに~]","","めしあがります","","","ごらんになります","","はいざら","りょかん","かいじょう","","ぼうえき","~さま","かえりに","","","えんりょなく","~ねん~(1ねん3くみ)","","たします(ねつを~)","よろしくおつたえください","しつれいいたします","こうし","おおくの~","さくひん","じゅしょうします","せかいてきに","さっか","","ちょうなん","しょうがい","","さっきょく","かつどう","","とうきょうだいがく","ノーベルぶんがくしょう"];
var meanArr = ["làm việc [ công ty ~]","nghỉ ngơi","ngồi xuống [ ghế]","trải qua (thời gian)","ghé vào (ngân hàng )","kính ngữ của います、いきます、きます","ăn, uống (kính ngữ)","nói (kính ngữ)","làm (kính ngữ)","xem (kính ngữ)","lời chào hỏi (~をします:chào hỏi)","gạt tàn thuốc","nhà trọ, nhà nghỉ","hội trường","trạm dừng xe bus","thương mại, mậu dịch","ngài ~(dạng tôn kính của ~さん)","trên đường về, ở lượt về","đôi khi, thỉnh thoảng","một chút cũng không (dùng với thể phủ định)","xin đừng ngại","tên lớp( ví dụ: lớp 1­3)","vậy thì (dạng lịch sự của じゃ)","phát sốt","cho tôi gửi lời hỏi thăm","xin chào (dạng khiêm tốn củaしつれいします)","giảng viên, báo cáo viên","nhiều ~","tác phẩm","được giải thưởng","mang tính chất thế giới,toàn cầu","tác giả","là (dạng tôn kính củaです)","trưởng nam","khuyết tật, khiếm khuyết","có (cách nói tôn kính của もっています)","viết( sáng tác) nhạc, bài hát","hoạt động","thế thì ( chỉ sự bắt đầu hay kết thúc )","đại học tokyo","giải nobel văn học"];
    </script>
</body>

</html>
<!-- 
<div class="col-lg-5 m-3 bg-white corner_radius">
    <div class="d-flex align-items-center justify-content-center board" onclick="clickBtn(0)">
        <div class="card" id="card_0">
            <div class="front">
                <div class="p-2 bd-highlight">
                    <span class="fs_kanji">抱く</span>
                    <span class="fs_hira">だく</span>
                </div>
            </div>
            <div class="back">
                <div class="p-2 bd-highlight">
                    <span class="bs_kanji">抱く</span>
                    <span class="bs_hira">だく</span>
                    <span class="bs_mean">ôm ấp, bế</span>
                </div>
            </div>
        </div>
    </div>
</div>
-->

