<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>JpT</title>
    <link href="../css/sb-admin-2.css" rel="stylesheet">
    <link href="../css/customKotoba.css" rel="stylesheet">
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="../img/icon.ico">
</head>

<body class="bg-gradient-dark" onscroll="scroll()">
    <div class="container">
        <div class="col-lg-12">
            <div class="text-center mt-3" id="ontop">
                <h1 class="h4 text-white mb-3" style="font-size: 32px">JpT Home</h1>
            </div>
        </div>

        <div class="row justify-content-md-center" id="content">
        </div>

        <div class="row justify-content-md-center">
            <div class="col col-lg-4 m-4">
                <a class="btn btn-block text-white btn_bg_blue" onclick="randomCard()"><i class="fas fa-sync"></i> Sắp xếp lại</a>
            </div>
        </div>
        
        <a class="button_menu rounded" href="../../index.html">
            <i class="fas fa-home"></i>
        </a>
        <a class="button_random rounded" onclick="randomCard()">
            <i class="fas fa-sync"></i>
        </a>
        <a class="button_ontop rounded" onclick="ontop()">
            <i class="fas fa-chevron-up"></i>
        </a>
    </div>
    <script src="../vendor/jquery/jquery.js"></script>
    <script src="../vendor/jquery-easing/jquery.easing.js"></script>
    <script src="../js/sb-admin-2.js"></script>
    <script type="text/javascript">
        var indexArr = [];

        function randomArr(arr) {
            var copyArr = arr.slice();
            var result = [];
            var i = 0;
            while (copyArr.length > 0) {
                var index = Math.floor(Math.random() * copyArr.length);
                result[i] = copyArr[index];
                copyArr.splice(index, 1);
                i++;
            }
            return result;
        }

        function convertHtml(arr) {
            var html = "";
            for (i = 0; i < arr.length; i++) {
                html = html + "<div class=\"col-lg-5 m-3 bg-white corner_radius\"><div class=\"d-flex align-items-center justify-content-center board\" onclick=\"clickBtn(" + arr[i] + ")\"><div class=\"card\" id=\"card_" + arr[i] + "\"><div class=\"front\"><div class=\"p-2 bd-highlight\"><span class=\"fs_kanji\">" + kanjiArr[arr[i]] + "</span><span class=\"fs_hira\">" + hiraArr[arr[i]] + "</span></div></div><div class=\"back\"><div class=\"p-2 bd-highlight\"><span class=\"bs_kanji\">" + kanjiArr[arr[i]] + "</span><span class=\"bs_hira\">" + hiraArr[arr[i]] + "</span><span class=\"bs_mean\">" + meanArr[arr[i]] + "</span></div></div></div></div></div>";
            }
            return html;
        }

        function clickBtn(id) {
            $('#card_' + id).toggleClass('flipped');
        }



        function randomCard() {
            var arr = randomArr(indexArr);
            var html = convertHtml(arr);
            $("#content").empty();
            $("#content").html(html);

            ontop();
        }

        function ontop() {
            $('html, body').stop().animate({
                scrollTop: ($("#ontop").offset().top)
            }, 800, 'easeInOutExpo');
        }

        function scroll(){
            var scrollDistance = $(this).scrollTop();
            if (scrollDistance > 100) {
                $('.button_menu').fadeIn();
                $('.button_random').fadeIn();
                $('.button_ontop').fadeIn();
            } else {
                $('.button_menu').fadeOut();
                $('.button_random').fadeOut();
                $('.button_ontop').fadeOut();
            }
        }

        $(document).ready(function() {
            for (i = 0; i < kanjiArr.length; i++) {
                indexArr[i] = i;
            }
            var html = convertHtml(indexArr);
            $("#content").empty();
            $("#content").html(html);
        });
        //Data 
        var kanjiArr = ["行きます","来ます","帰ります","学校","スーパー","駅","飛行機","船","電車","地下鉄","新幹線","バス","タクシー","自転車","歩いて","人","友達","彼","彼女","家族","先週","今週","来週","先月","今月","来月","去年","ことし","来年","―月","何月","１日","２日","３日","４日","５日","６日","７日","８日","９日","１０日","１４日","２０日","２４日","―日","何日","いつ","誕生日","普通","急行","特急","次の","どういたしまして"];
var hiraArr = ["いきます","きます","かえります","がっこう","","えき","ひこうき","ふね","でんしゃ","ちかてつ","しんかんせん","","","じてんしゃ","あるいて","ひと","ともだち","かれ","かのじょ","かぞく","せんしゅう","こんしゅう","らいしゅう","せんげつ","こんげつ","らいげつ","きょねん","","らいねん","―がつ","なんがつ","ついたち","ふつか","みっか","よっか","いつか","むいか","なのか","ようか","ここのか","とおか","じゅうよっか","はつか","にじゅうよっか","―にち","なんにち","","たんじょうび","ふつう","きゅうこう","とっきゅう","つぎの",""];
var meanArr = ["đi","đến","về","trường học","siêu thị","ga, nhà ga","máy bay","thuyền, tàu thủy","tàu điện","tàu điện ngầm","tàu shinkansen","xe buýt","tắc-xi","xe đạp","đi bộ","người","bạn, bạn bè","anh ấy, bạn trai","chị ấy, bạn gái","gia đình","tuần trước","tuần này","tuần sau","tháng trước","tháng này","tháng sau","năm ngoái","năm nay","năm sau","tháng –","tháng mấy","ngày mồng 1","ngày mồng 2, 2 ngày","ngày mồng 3, 3 ngày","ngày mồng 4, 4 ngày","ngày mồng 5, 5 ngày","ngày mồng 6, 6 ngày","ngày mồng 7, 7 ngày","ngày mồng 8, 8 ngày","ngày mồng 9, 9 ngày","ngày mồng 10, 10 ngày","ngày 14, 14 ngày","ngày 20, 20 ngày","ngày 24, 24 ngày","ngày -, – ngày","ngày mấy, mấy ngày, bao nhiêu ngày","bao giờ, khi nào","sinh nhật","tàu thường (dừng cả ở các ga lẻ)","tàu tốc hành","tàu tốc hành đặc biệt","tiếp theo","không có chi"];
    </script>
</body>

</html>
<!-- 
<div class="col-lg-5 m-3 bg-white corner_radius">
    <div class="d-flex align-items-center justify-content-center board" onclick="clickBtn(0)">
        <div class="card" id="card_0">
            <div class="front">
                <div class="p-2 bd-highlight">
                    <span class="fs_kanji">抱く</span>
                    <span class="fs_hira">だく</span>
                </div>
            </div>
            <div class="back">
                <div class="p-2 bd-highlight">
                    <span class="bs_kanji">抱く</span>
                    <span class="bs_hira">だく</span>
                    <span class="bs_mean">ôm ấp, bế</span>
                </div>
            </div>
        </div>
    </div>
</div>
-->

