<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>JpT</title>
    <link href="../css/sb-admin-2.css" rel="stylesheet">
    <link href="../css/customKotoba.css" rel="stylesheet">
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="../img/icon.ico">
</head>

<body class="bg-gradient-dark" onscroll="scroll()">
    <div class="container">
        <div class="col-lg-12">
            <div class="text-center mt-3" id="ontop">
                <h1 class="h4 text-white mb-3" style="font-size: 32px">JpT Home</h1>
            </div>
        </div>

        <div class="row justify-content-md-center" id="content">
        </div>

        <div class="row justify-content-md-center">
            <div class="col col-lg-4 m-4">
                <a class="btn btn-block text-white btn_bg_blue" onclick="randomCard()"><i class="fas fa-sync"></i> Sắp xếp lại</a>
            </div>
        </div>
        
        <a class="button_menu rounded" href="../../index.html">
            <i class="fas fa-home"></i>
        </a>
        <a class="button_random rounded" onclick="randomCard()">
            <i class="fas fa-sync"></i>
        </a>
        <a class="button_ontop rounded" onclick="ontop()">
            <i class="fas fa-chevron-up"></i>
        </a>
    </div>
    <script src="../vendor/jquery/jquery.js"></script>
    <script src="../vendor/jquery-easing/jquery.easing.js"></script>
    <script src="../js/sb-admin-2.js"></script>
    <script type="text/javascript">
        var indexArr = [];

        function randomArr(arr) {
            var copyArr = arr.slice();
            var result = [];
            var i = 0;
            while (copyArr.length > 0) {
                var index = Math.floor(Math.random() * copyArr.length);
                result[i] = copyArr[index];
                copyArr.splice(index, 1);
                i++;
            }
            return result;
        }

        function convertHtml(arr) {
            var html = "";
            for (i = 0; i < arr.length; i++) {
                html = html + "<div class=\"col-lg-5 m-3 bg-white corner_radius\"><div class=\"d-flex align-items-center justify-content-center board\" onclick=\"clickBtn(" + arr[i] + ")\"><div class=\"card\" id=\"card_" + arr[i] + "\"><div class=\"front\"><div class=\"p-2 bd-highlight\"><span class=\"fs_kanji\">" + kanjiArr[arr[i]] + "</span><span class=\"fs_hira\">" + hiraArr[arr[i]] + "</span></div></div><div class=\"back\"><div class=\"p-2 bd-highlight\"><span class=\"bs_kanji\">" + kanjiArr[arr[i]] + "</span><span class=\"bs_hira\">" + hiraArr[arr[i]] + "</span><span class=\"bs_mean\">" + meanArr[arr[i]] + "</span></div></div></div></div></div>";
            }
            return html;
        }

        function clickBtn(id) {
            $('#card_' + id).toggleClass('flipped');
        }



        function randomCard() {
            var arr = randomArr(indexArr);
            var html = convertHtml(arr);
            $("#content").empty();
            $("#content").html(html);

            ontop();
        }

        function ontop() {
            $('html, body').stop().animate({
                scrollTop: ($("#ontop").offset().top)
            }, 800, 'easeInOutExpo');
        }

        function scroll(){
            var scrollDistance = $(this).scrollTop();
            if (scrollDistance > 100) {
                $('.button_menu').fadeIn();
                $('.button_random').fadeIn();
                $('.button_ontop').fadeIn();
            } else {
                $('.button_menu').fadeOut();
                $('.button_random').fadeOut();
                $('.button_ontop').fadeOut();
            }
        }

        $(document).ready(function() {
            for (i = 0; i < kanjiArr.length; i++) {
                indexArr[i] = i;
            }
            var html = convertHtml(indexArr);
            $("#content").empty();
            $("#content").html(html);
        });
        //Data 
        var kanjiArr = ["逃げます","騒ぎます","あきらめます","投げま","守ります","上げます","下げます","伝えます","注意します","外します","だめ","席","（な）","マーク","ボール","洗濯機","ー機","規則","使用禁止","立ち入り禁止","入口","出口","非常宇口","無料","本日休業","営業中","使用中","ー中","どういうー","もう","あと","駐車違反","そりゃあ","～い内","警察","罰金","電報","人々","急用","打ちます（電報を）","電報代","できるだけ","短く","また","例えば","危篤","重い病気","明日","留守","留守番","(お）いわい","なくなります","悲しい","利用します"];
var hiraArr = ["にげます","さわぎます","","なげます","まもります","あげます","さげます","つたえます","ちゅういします","はずします","","せき","ファイト","","","せんたくき","―き","きそく","しようきんし","たちいりきんし","いりぐち","でぐち","ひじょうぐち","むりょう","ほんじつきゅうぎょう","えいぎょうちゅう","しようちゅう","―ちゅう","","","","ちゅうしゃいはん","","～いない","けいさつ","ばっきん","でんぽう","ひとびと","きゅうよう","うちます（でんぽうを）","でんぽうだい","","みじかく","","たとえば","キトク","おもいびょうき","あす","るす","るすばん","","","かなしい","りようします"];
var meanArr = ["chạy trốn, bỏ chạy","làm ồn, làm rùm beng","từ bỏ, đầu hàng","ném","bảo vệ, tuân thủ","nâng lên, tăng lên","hạ xuống, giảm xuống","truyền đạt","chú ý","rời, không có ở (chỗ ngồi)","không được, không thể","chỗ ngồi, ghế","’quyết chiến’, ‘cố lên’","kí hiệu","quả bóng","máy giặt","máy–","quy tắc, kỷ luật","cấm sử dụng","cấm vào","cửa vào","cửa ra","cửa thoát hiểm","miễn phí","hôm nay đóng cửa, hôm nay nghỉ","đang mở cửa","đang sử dụng","đang–","–gì, — thế nào","không—nữa","còn~","đỗ xe trái phép","thế thì ,ồ","~trong khoảng, ~trong vòng","cảnh sát","tiền phạt","điện báo","nhiều người","việc gấp","gửi(điện báo)","phí điện báo","cố gắng, trong khả năng có thể","ngắn gọn","thêm nữa","ví dụ","tình trạn hiểm nghèo","bệnh nặng","ngày mai","vắng nhà","trông nhà, giữ nhà","việc mừng","mất,chết","buồn","sử dụng, lợi dụng, tận dụng"];
    </script>
</body>

</html>
<!-- 
<div class="col-lg-5 m-3 bg-white corner_radius">
    <div class="d-flex align-items-center justify-content-center board" onclick="clickBtn(0)">
        <div class="card" id="card_0">
            <div class="front">
                <div class="p-2 bd-highlight">
                    <span class="fs_kanji">抱く</span>
                    <span class="fs_hira">だく</span>
                </div>
            </div>
            <div class="back">
                <div class="p-2 bd-highlight">
                    <span class="bs_kanji">抱く</span>
                    <span class="bs_hira">だく</span>
                    <span class="bs_mean">ôm ấp, bế</span>
                </div>
            </div>
        </div>
    </div>
</div>
-->

