<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>JpT</title>
    <link href="../css/sb-admin-2.css" rel="stylesheet">
    <link href="../css/customKotoba.css" rel="stylesheet">
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="../img/icon.ico">
</head>

<body class="bg-gradient-dark" onscroll="scroll()">
    <div class="container">
        <div class="col-lg-12">
            <div class="text-center mt-3" id="ontop">
                <h1 class="h4 text-white mb-3" style="font-size: 32px">JpT Home</h1>
            </div>
        </div>

        <div class="row justify-content-md-center" id="content">
        </div>

        <div class="row justify-content-md-center">
            <div class="col col-lg-4 m-4">
                <a class="btn btn-block text-white btn_bg_blue" onclick="randomCard()"><i class="fas fa-sync"></i> Sắp xếp lại</a>
            </div>
        </div>
        
        <a class="button_menu rounded" href="../../index.html">
            <i class="fas fa-home"></i>
        </a>
        <a class="button_random rounded" onclick="randomCard()">
            <i class="fas fa-sync"></i>
        </a>
        <a class="button_ontop rounded" onclick="ontop()">
            <i class="fas fa-chevron-up"></i>
        </a>
    </div>
    <script src="../vendor/jquery/jquery.js"></script>
    <script src="../vendor/jquery-easing/jquery.easing.js"></script>
    <script src="../js/sb-admin-2.js"></script>
    <script type="text/javascript">
        var indexArr = [];

        function randomArr(arr) {
            var copyArr = arr.slice();
            var result = [];
            var i = 0;
            while (copyArr.length > 0) {
                var index = Math.floor(Math.random() * copyArr.length);
                result[i] = copyArr[index];
                copyArr.splice(index, 1);
                i++;
            }
            return result;
        }

        function convertHtml(arr) {
            var html = "";
            for (i = 0; i < arr.length; i++) {
                html = html + "<div class=\"col-lg-5 m-3 bg-white corner_radius\"><div class=\"d-flex align-items-center justify-content-center board\" onclick=\"clickBtn(" + arr[i] + ")\"><div class=\"card\" id=\"card_" + arr[i] + "\"><div class=\"front\"><div class=\"p-2 bd-highlight\"><span class=\"fs_kanji\">" + kanjiArr[arr[i]] + "</span><span class=\"fs_hira\">" + hiraArr[arr[i]] + "</span></div></div><div class=\"back\"><div class=\"p-2 bd-highlight\"><span class=\"bs_kanji\">" + kanjiArr[arr[i]] + "</span><span class=\"bs_hira\">" + hiraArr[arr[i]] + "</span><span class=\"bs_mean\">" + meanArr[arr[i]] + "</span></div></div></div></div></div>";
            }
            return html;
        }

        function clickBtn(id) {
            $('#card_' + id).toggleClass('flipped');
        }



        function randomCard() {
            var arr = randomArr(indexArr);
            var html = convertHtml(arr);
            $("#content").empty();
            $("#content").html(html);

            ontop();
        }

        function ontop() {
            $('html, body').stop().animate({
                scrollTop: ($("#ontop").offset().top)
            }, 800, 'easeInOutExpo');
        }

        function scroll(){
            var scrollDistance = $(this).scrollTop();
            if (scrollDistance > 100) {
                $('.button_menu').fadeIn();
                $('.button_random').fadeIn();
                $('.button_ontop').fadeIn();
            } else {
                $('.button_menu').fadeOut();
                $('.button_random').fadeOut();
                $('.button_ontop').fadeOut();
            }
        }

        $(document).ready(function() {
            for (i = 0; i < kanjiArr.length; i++) {
                indexArr[i] = i;
            }
            var html = convertHtml(indexArr);
            $("#content").empty();
            $("#content").html(html);
        });
        //Data 
        var kanjiArr = ["数えます","測ります/量ります","確かめます","合います","出発します","到着します。","酔います","危険（な）","必要（な）","宇宙","地球","忘年会","新年会","二次会","大会","マラソン","コンテスト","表","裏","返事","申し込み","本当","まちがい","傷","ズボン","長さ","重さ","高さ","大きさ","ー便","ー号","―こ","ー本","―はい","―キロ","―グラム","ーセンチ","ーミリ","ー以上","ー以下","さあ","どうでしょうか","クラス","テスト","成績","測ります/量ります","確かめます","様子","事件","到着します。","爆弾","積みます","運転手","離れた","地球","ゆうに","動かします","一所懸命","犯人","手に入れます","今でも","うわさします"];
var hiraArr = ["かぞえます","はかります","たしかめます","あいます","しゅっぱつします","とうちゃくします","よいます","きけん（な）","ひつよう（な）","うちゅう","ちきゅう","ぼうねんかい","しんねんかい","にじかい","たいかい","","","おもて","うら","へんじ","もうしこみ","ほんとう","","きず","","ながさ","おもさ","たかさ","おおきさ","―びん","―ごう","","―ほん","","","","","","―いじょう","―いか","","","","","せいせき","ところで","いらっしゃいます","ようす","じけん","オートバイ","ばくだん","つみます","うんてんしゅ","はなれた","が","","うごかします","いっしょけんめい","はんにん","てにいれます","いまでも",""];
var meanArr = ["đếm","đo, cân","xác nhận","vừa , hợp","xuất phát, khởi hành","đến , đến nơi","say","nguy hiểm","cần thiết","vũ trụ","trái đất","tiệc tất niên","tiệc tân niên","bữa tiệc thứ hai, tăng hai","đại hội , cuộc thi","ma-ra-tong","cuộc thi","phía trước , mặt trước","phía sau , mặt sau","hồi âm , trả lời","đăng ký","thật","sai , lỗi","viết thương","cái quần","chiều dài","cân nặng, trọng lượng","chiều cao","cỡ , kích thước","chuyến bay–","số–","cái, cục , viên","cái(đơn vị đếm vật dài)","–chén, –cốc","–ki-lo, –cân","–gam","–xăng-ti-mét","–mi-li-mét","trở lên, trên","trở xuống, dưới","à.., ồ..,(dùng khi không rõ về điều gì đó)","thế nào?(cách nói lịch sự của どうですか）","lớp học","bài kiểm tra","kết quả, thành tích","nhân tiện","đến(kính ngữ của きます）","vẻ, tình hình","vụ án","xe máy","bom","chuyển lên, xếp hàng lên","lái xe","xa cách, xa","nhưng","gấp, đột nhiên","khởi động, chạy","hết sức, chăm chỉ","thủ phạm","có được, lấy được, đoạt được","ngay cả bây giờ","đồn đại"];
    </script>
</body>

</html>
<!-- 
<div class="col-lg-5 m-3 bg-white corner_radius">
    <div class="d-flex align-items-center justify-content-center board" onclick="clickBtn(0)">
        <div class="card" id="card_0">
            <div class="front">
                <div class="p-2 bd-highlight">
                    <span class="fs_kanji">抱く</span>
                    <span class="fs_hira">だく</span>
                </div>
            </div>
            <div class="back">
                <div class="p-2 bd-highlight">
                    <span class="bs_kanji">抱く</span>
                    <span class="bs_hira">だく</span>
                    <span class="bs_mean">ôm ấp, bế</span>
                </div>
            </div>
        </div>
    </div>
</div>
-->

