<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>JpT</title>
    <link href="../css/sb-admin-2.css" rel="stylesheet">
    <link href="../css/customKotoba.css" rel="stylesheet">
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="../img/icon.ico">
</head>

<body class="bg-gradient-dark" onscroll="scroll()">
    <div class="container">
        <div class="col-lg-12">
            <div class="text-center mt-3" id="ontop">
                <h1 class="h4 text-white mb-3" style="font-size: 32px">JpT Home</h1>
            </div>
        </div>

        <div class="row justify-content-md-center" id="content">
        </div>

        <div class="row justify-content-md-center">
            <div class="col col-lg-4 m-4">
                <a class="btn btn-block text-white btn_bg_blue" onclick="randomCard()"><i class="fas fa-sync"></i> Sắp xếp lại</a>
            </div>
        </div>
        
        <a class="button_menu rounded" href="../../index.html">
            <i class="fas fa-home"></i>
        </a>
        <a class="button_random rounded" onclick="randomCard()">
            <i class="fas fa-sync"></i>
        </a>
        <a class="button_ontop rounded" onclick="ontop()">
            <i class="fas fa-chevron-up"></i>
        </a>
    </div>
    <script src="../vendor/jquery/jquery.js"></script>
    <script src="../vendor/jquery-easing/jquery.easing.js"></script>
    <script src="../js/sb-admin-2.js"></script>
    <script type="text/javascript">
        var indexArr = [];

        function randomArr(arr) {
            var copyArr = arr.slice();
            var result = [];
            var i = 0;
            while (copyArr.length > 0) {
                var index = Math.floor(Math.random() * copyArr.length);
                result[i] = copyArr[index];
                copyArr.splice(index, 1);
                i++;
            }
            return result;
        }

        function convertHtml(arr) {
            var html = "";
            for (i = 0; i < arr.length; i++) {
                html = html + "<div class=\"col-lg-5 m-3 bg-white corner_radius\"><div class=\"d-flex align-items-center justify-content-center board\" onclick=\"clickBtn(" + arr[i] + ")\"><div class=\"card\" id=\"card_" + arr[i] + "\"><div class=\"front\"><div class=\"p-2 bd-highlight\"><span class=\"fs_kanji\">" + kanjiArr[arr[i]] + "</span><span class=\"fs_hira\">" + hiraArr[arr[i]] + "</span></div></div><div class=\"back\"><div class=\"p-2 bd-highlight\"><span class=\"bs_kanji\">" + kanjiArr[arr[i]] + "</span><span class=\"bs_hira\">" + hiraArr[arr[i]] + "</span><span class=\"bs_mean\">" + meanArr[arr[i]] + "</span></div></div></div></div></div>";
            }
            return html;
        }

        function clickBtn(id) {
            $('#card_' + id).toggleClass('flipped');
        }



        function randomCard() {
            var arr = randomArr(indexArr);
            var html = convertHtml(arr);
            $("#content").empty();
            $("#content").html(html);

            ontop();
        }

        function ontop() {
            $('html, body').stop().animate({
                scrollTop: ($("#ontop").offset().top)
            }, 800, 'easeInOutExpo');
        }

        function scroll(){
            var scrollDistance = $(this).scrollTop();
            if (scrollDistance > 100) {
                $('.button_menu').fadeIn();
                $('.button_random').fadeIn();
                $('.button_ontop').fadeIn();
            } else {
                $('.button_menu').fadeOut();
                $('.button_random').fadeOut();
                $('.button_ontop').fadeOut();
            }
        }

        $(document).ready(function() {
            for (i = 0; i < kanjiArr.length; i++) {
                indexArr[i] = i;
            }
            var html = convertHtml(indexArr);
            $("#content").empty();
            $("#content").html(html);
        });
        //Data 
        var kanjiArr = ["売れます","踊ります","かみます","選びます","通います","メモします","真面目","熱心","偉い","丁度いい","優しい","習慣","経験","力","人気","形","色","味","ガム","品物","値段","給料","～ご","番組","ドラマ","小説","小説家","歌手","管理人","息子","息子さん","娘","娘さん","自分","将来","しばらく","たいてい","それに","それで","「ちょっと」お願いがあるんですが","ホームステイ","会話","おしゃべりします","お知らせ","日にち","土","体育館","無料"];
var hiraArr = ["うれます","おどります","","えらびます","かよいます","メモします","まじめ","ねっしん","えらい","ちょうどいい","やさしい","しゅうかん","けいけん","ちから","にんき","かたち","いろ","あじ","","しなもの","ねだん","きゅうりょう","ボーナス","ばんぐみ","","しょうせつ","しょうせつか","かしゅ","かんりにん","むすこ","むすこさん","むすめ","むすめさん","じぶん","しょうらい","","","","","「ちょっと」おねがいがあるんですが","","かいわ","おしゃべりします","おしらせ","ひにち","ど","たいいくかｎ","むりょう"];
var meanArr = ["bán","nhảy","nhai,cắn","lựa,lựa chọn","đi học(đại học)","ghi chép lại,ghi lại","nghiêm túc,đàng hoàng","nhiệt tình","vĩ đại, kính trọng","vừa đúng,vừa vặn","phong cảnh","tập quán","kinh nghiệm","sức mạnh","hâm mộ","hình dáng","màu","vị","kẹo cao su","hàng hóa","giá cả","lương","thưởng","chương trình(truyền hình,phát thanh,..)","kịch,phim truyền hình","tiểu thuyết","tiểu thuyết gia","ca sĩ","người quản lí","con trai(dùng cho mình)","con trai(dùng cho người khác)","con gái(dùng cho mình)","con gái(dùng cho người khác)","bản thân","tương lai","một khoảng thời gian ngắn, một chút, một lát","thường, thông thường","ngoài ra","do đó","tôi có chút việc muốn nhờ anh chị","homestay","hội thoại","trò chuyện","thông báo","ngày","thứ 7","phòng thể dục","miễn phí"];
    </script>
</body>

</html>
<!-- 
<div class="col-lg-5 m-3 bg-white corner_radius">
    <div class="d-flex align-items-center justify-content-center board" onclick="clickBtn(0)">
        <div class="card" id="card_0">
            <div class="front">
                <div class="p-2 bd-highlight">
                    <span class="fs_kanji">抱く</span>
                    <span class="fs_hira">だく</span>
                </div>
            </div>
            <div class="back">
                <div class="p-2 bd-highlight">
                    <span class="bs_kanji">抱く</span>
                    <span class="bs_hira">だく</span>
                    <span class="bs_mean">ôm ấp, bế</span>
                </div>
            </div>
        </div>
    </div>
</div>
-->

