<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>JpT</title>
    <link href="../css/sb-admin-2.css" rel="stylesheet">
    <link href="../css/customKanji.css" rel="stylesheet">
    <link rel="icon" href="../img/icon.ico">
</head>

<body class="bg-gradient-dark">
    <div class="container">
        <div class="col-lg-12">
            <div class="text-center mt-3" id="ontop">
                <h1 class="h4 text-white mb-3" style="font-size: 32px">JpT Home</h1>
            </div>
        </div>

        <div class="row justify-content-md-center" id="content">
        </div>

        <div class="row justify-content-md-center">
            <div class="col col-lg-4 m-4">
                <a class="btn btn-block text-white btn_bg_blue" href="../../index.html">Start Page</a>
            </div>
			<div class="col col-lg-4 m-4">
                <a class="btn btn-block text-white btn_bg_blue" onclick="randomCard()">Sắp xếp lại</a>
            </div>
        </div>
    </div>
    <script src="../vendor/jquery/jquery.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="../vendor/jquery-easing/jquery.easing.js"></script>
    <script src="../js/sb-admin-2.js"></script>
    <script type="text/javascript">
        var indexArr = [];

        function randomArr(arr) {
            var copyArr = arr.slice();
            var result = [];
            var i = 0;
            while (copyArr.length > 0) {
                var index = Math.floor(Math.random() * copyArr.length);
                result[i] = copyArr[index];
                copyArr.splice(index, 1);
                i++;
            }
            return result;
        }

        function convertHtml(arr) {
            var html = "";
            for (i = 0; i < arr.length; i++) {
                html = html + "<div class=\"col-lg-5 m-3 bg-white corner_radius\"><div class=\"d-flex align-items-center justify-content-center board\" onclick=\"clickBtn(" + i + ")\"><div class=\"card\" id=\"card_" + i + "\"><div class=\"front\"><div class=\"p-2 bd-highlight\"><h1 class=\"fs_kanji\">" + kanjiArr[arr[i]] + "</h1></div></div><div class=\"back\"><div class=\"p-2 bd-highlight\"><span class=\"bs_hanviet\">" + hanvietArr[i] + "</span><span class=\"bs_kanji\">" + kanjiArr[arr[i]] + "</span><span class=\"bs_hira\">" + hiraArr[arr[i]] + "</span><span class=\"bs_mean\">" + meanArr[arr[i]] + "</span></div></div></div></div></div>";
            }
            return html;
        }

        function clickBtn(id) {
            $('#card_' + id).toggleClass('flipped');
        }



        function randomCard() {
            var arr = randomArr(indexArr);
            var html = convertHtml(arr);
            $("#content").empty();
            $("#content").html(html);

            $('html, body').stop().animate({
                scrollTop: ($("#ontop").offset().top)
            }, 800, 'easeInOutExpo');
        }

        $(document).ready(function() {
            for (i = 0; i < kanjiArr.length; i++) {
                indexArr[i] = i;
            }
            var html = convertHtml(indexArr);
            $("#content").empty();
            $("#content").html(html);
        });
        //Data
        var kanjiArr = ["必要","要る","重要","冷房","冷たい","冷やす","冷える","冷める","冷ます","冷蔵庫","冷凍庫","凍る","金庫","車庫","召し上がる","保存する","ご存じです","存じません","必要","必ず","必死"];
var hiraArr = ["ひつよう","いる","じゅうよう","れいぼう","つめたい","ひやす","ひえる","さめる","さます","れいぞうこ","れいとうこ","こおる","きんこ","しゃこ","めしあがる","ほぞんする","ごぞんじです","ぞんじません","ひつよう","かならず","ひっし"];
var hanvietArr = ["TẤT YẾU","YẾU","TRỌNG YẾU","LÃNH PHÒNG","LÃNH","LÃNH","LÃNH","LÃNH","LÃNH","LÃNH TÀNG KHỐ","LÃNH ĐỐNG KHỐ","ĐỐNG","KIM KHỐ","XA KHỐ","TRIỆU THƯỢNG","BẢO TỒN","TỒN","TỒN","TẤT YẾU","TẤT","TẤT TỬ"];
var meanArr = ["cần thiết","cần","trọng yếu; quan trọng","điều hòa","lạnh","làm lạnh","lạnh đi","nguội đi","làm nguội","tủ lạnh","tủ đông","đông lạnh","két sắt","nhà để xe","ăn, uống (thể lịch sự)","bảo quản","biết (thể lịch sự)","tôi không biết","cần thiết, tất yếu","chắc chắn là","quyết tâm, cố gắng hết sức"];
    </script>
</body>

</html>

