<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>JpT</title>
    <link href="../css/sb-admin-2.css" rel="stylesheet">
    <link href="../css/customKanji.css" rel="stylesheet">
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="../img/icon.ico">
</head>

<body class="bg-gradient-dark" onscroll="scroll()">
    <div class="container">
        <div class="col-lg-12">
            <div class="text-center mt-3" id="ontop">
                <h1 class="h4 text-white mb-3" style="font-size: 32px">JpT Home</h1>
            </div>
        </div>

        <div class="row justify-content-md-center" id="content">
        </div>

        <div class="row justify-content-md-center">
            <div class="col col-lg-4 m-4">
                <a class="btn btn-block text-white btn_bg_blue" onclick="randomCard()"><i class="fas fa-sync"></i> Sắp xếp lại</a>
            </div>
        </div>
        
        <a class="button_menu rounded" href="../../index.html">
            <i class="fas fa-home"></i>
        </a>
        <a class="button_random rounded" onclick="randomCard()">
            <i class="fas fa-sync"></i>
        </a>
        <a class="button_ontop rounded" onclick="ontop()">
            <i class="fas fa-chevron-up"></i>
        </a>
    </div>
    <script src="../vendor/jquery/jquery.js"></script>
    <script src="../vendor/jquery-easing/jquery.easing.js"></script>
    <script src="../js/sb-admin-2.js"></script>
    <script type="text/javascript">
        var indexArr = [];

        function randomArr(arr) {
            var copyArr = arr.slice();
            var result = [];
            var i = 0;
            while (copyArr.length > 0) {
                var index = Math.floor(Math.random() * copyArr.length);
                result[i] = copyArr[index];
                copyArr.splice(index, 1);
                i++;
            }
            return result;
        }

        function convertHtml(arr) {
            var html = "";
            for (i = 0; i < arr.length; i++) {
                html = html + "<div class=\"col-lg-5 m-3 bg-white corner_radius\"><div class=\"d-flex align-items-center justify-content-center board\" onclick=\"clickBtn(" + i + ")\"><div class=\"card\" id=\"card_" + i + "\"><div class=\"front\"><div class=\"p-2 bd-highlight\"><h1 class=\"fs_kanji\">" + kanjiArr[arr[i]] + "</h1></div></div><div class=\"back\"><div class=\"p-2 bd-highlight\"><span class=\"bs_hanviet\">" + hanvietArr[i] + "</span><span class=\"bs_kanji\">" + kanjiArr[arr[i]] + "</span><span class=\"bs_hira\">" + hiraArr[arr[i]] + "</span><span class=\"bs_mean\">" + meanArr[arr[i]] + "</span></div></div></div></div></div>";
            }
            return html;
        }

        function clickBtn(id) {
            $('#card_' + id).toggleClass('flipped');
        }



        function randomCard() {
            var arr = randomArr(indexArr);
            var html = convertHtml(arr);
            $("#content").empty();
            $("#content").html(html);

            ontop();
        }

        function ontop() {
            $('html, body').stop().animate({
                scrollTop: ($("#ontop").offset().top)
            }, 800, 'easeInOutExpo');
        }

        function scroll(){
            var scrollDistance = $(this).scrollTop();
            if (scrollDistance > 100) {
                $('.button_menu').fadeIn();
                $('.button_random').fadeIn();
                $('.button_ontop').fadeIn();
            } else {
                $('.button_menu').fadeOut();
                $('.button_random').fadeOut();
                $('.button_ontop').fadeOut();
            }
        }

        $(document).ready(function() {
            for (i = 0; i < kanjiArr.length; i++) {
                indexArr[i] = i;
            }
            var html = convertHtml(indexArr);
            $("#content").empty();
            $("#content").html(html);
        });
        //Data
        var kanjiArr = ["練習","最近","最初","最後","最も","適当","快適","選挙","選手","選ぶ","違う","間違い","間違う","間違える","直線","直接","直る","直す","復習","往復","回復","辞書","辞める","宿題","下宿","宿"];
var hiraArr = ["れんしゅう","さいきん","さいしょ","さいご","もっとも","てきとう","かいてき","せんきょ","せんしゅ","えらぶ","ちがう","まちがい","まちがう","まちがえる","ちょくせん","ちょくせつ","なおる","なおす","ふくしゅう","おうふく","かいふく","じしょ","やめる","しゅくだい","げしゅく","やど"];
var hanvietArr = ["LUYỆN TẬP","TỐI CẬN","TỐI SƠ","TỐI HẬU","TỐI","THÍCH ĐƯƠNG","KHOÁI THÍCH","TUYỂN CỬ","TUYỂN THỦ","TUYỂN","VI","GIAN VI","GIAN VI","GIAN VI","TRỰC TUYẾN","TRỰC TIẾP","TRỰC","TRỰC","PHỤC TẬP","VÃNG PHỤC","HỒI PHỤC","TỪ THƯ","TỪ","TÚC ĐỀ","HẠ TÚC","TÚC"];
var meanArr = ["luyện tập","gần đây","trước tiên, đầu tiên","cuối cùng","hơn nhất, vô cùng, cực kỳ","thích hợp, phù hợp, đúng","thoải mái, khoan khoái","tuyển cử, bầu cử","tuyển thủ","lựa chọn","khác, sai","lỗi sai, khác","phạm lỗi, nhầm","phạm lỗi, nhầm","đường thẳng","trực tiếp","sửa chữa (tự động từ)","sửa chữa (tha động từ)","ôn bài","khứ hồi (cả đi về)","hồi phục","từ điển","từ bỏ","bài tập về nhà","nhà trọ","chỗ trọ, tạm trú"];
    </script>
</body>

</html>

